.STATUS_ITEM{
	margin: 10px;
	padding: 10px;
	gap: 10px;

	display: flex;
	flex-direction: row;

	width: calc(100% - 20px);
	height: 64px;

	border: solid 1px rgb(194, 194, 194);
	border-radius: 10px;
}

.STATUS_ITEM > img{
	width: 10px;
	height: 100%;
}

.STATUS_ITEM > div{
	display: flex;
	flex-direction: column;
}